html{
    scroll-behavior: smooth;
}
body{ 
    background-color: rgb(10, 10, 10); 
    font-family: 'Lato', sans-serif;
    padding-top: 7%;
}
.sec1{
    background-color: black;
    padding: 5%;
    height: 85vh;
    margin-top: 6%;
    display: flex;
    width: 100%;
}
#foot{
    background-color: black;
    padding: 3%;
    width: 100%;
    border-top: 1px solid white;
}